cmeel==0.53.3
cmeel-assimp==5.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.2
cmeel-octomap==1.9.8.2
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
contourpy==1.2.1
cycler==0.12.1
eigenpy==3.5.1
fonttools==4.53.1
hpp-fcl==2.4.4
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.1
numpy==1.26.4
numpy-stl==3.1.1
packaging==24.1
pillow==10.4.0
pin==2.7.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-utils==3.8.2
pyzmq==26.0.3
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
threadpoolctl==3.5.0
tomli==2.0.1
typing_extensions==4.12.2
zmq==0.0.0
